@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

$fontPrimary: 'Lato', sans-serif;
$fontSize: 1.6rem;

h1 {
  margin: 0 0 40px;
  font-size: 4.5rem;
  font-weight: 700;
}
h2 {
  margin: 0 0 20px;
  font-size: 3.5rem;
  font-weight: 700;
}